@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* to edit placeholder */
input,
input::-webkit-input-placeholder {
  font-size: 14px;
}

@layer components {
  .info {
    @apply text-start flex gap-2 justify-between sm:block sm:text-center rounded-md w-full sm:w-1/4 sm:border-none border border-gray-300 mb-2 p-1 text-[0.75rem] sm:text-[.9rem];
  }
  .reg-input {
    @apply bg-[#F5F5F5] text-black text-opacity-50 block pl-4 py-2.5 focus:outline-none rounded-sm w-full;
  }
  .login-input {
    @apply bg-[#F5F5F5] text-black text-opacity-50 pl-4 py-2.5 focus:outline-none rounded-sm w-full;
  }
  .verify-input {
    @apply bg-[#F5F5F5] text-[#079F32] text-opacity-50 pl-4 py-2.5 focus:outline-none rounded-sm w-full;
  }
  .slider-container {
    @apply flex flex-col lg:flex-row lg:items-center lg:justify-between mx-auto space-y-6 pb-6 px-5 mt-8;
  }
}

li::marker {
  font-size: 30px;
}

@layer utilities {
  .slide {
    animation: slide 0.8s ease-out;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .rotate {
    animation: rotation 0.8s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  .custom-file-input {
    color: transparent;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: "Upload photo";
    color: white;
    display: inline-block;
    background: #1f66d0;
    border-radius: 5px;
    padding: 10px 20px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 12pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background: #1f66d0;
  }
}
